{% extends 'base.html' %}

{% block titulo %} Gestión Tareas {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="mask d-flex align-items-center gradient-custom-3 mt-2">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <h2 class="text-uppercase text-center mb-5"> CREA UNA NUEVA TAREA</h2>
                        <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="d-flex justify-content-center ">
                                <button type="submit" class="btn btn-primary btn-block btn-lg mx-2">Crear Tarea</button>
                                <button type="reset" class="btn btn-warning btn-block btn-lg mx-2">Limpiar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}