{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block titulo %} Mis Tareas {% endblock %}

{% block content %}

<div class="container-fluid mt-5 text-center">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show"
        role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"
            aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <form method="get" class="mb-3">
        <div class="row">
            <div class="col-md-6">
                <h4>Buscar por título</h4>
                <div class="input-group">
                    {{ form.filtro_query }}
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary mx-2">Buscar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Buscar por categoría</h4>
                {{ form.categoria }}
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="table-primary">
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Fecha de Vencimiento</th>
                    <th>Estado</th>
                    <th>Categoría</th>
                    <th>Observación</th>
                    <th>Asignado hacia</th>
                    <th>Asignado por</th>
                    <th>Prioridad</th>
                </tr>
            </thead>
            <tbody>
                {% for tarea in tareas %}
                <tr>
                    <td>{{ tarea.titulo }}</td>
                    <td>{{ tarea.descripcion}}</td>
                    <td>{{ tarea.fecha_vencimiento|date:"d-m-Y" }}</td>
                    <td>{{ tarea.get_estado_display }}</td>
                    <td>{{ tarea.get_categoria_display }}</td>
                    <td>
                        {% if tarea.observacion %}
                        {{ tarea.observacion }}
                        {% else %}
                        <p>sin observaciones</p>
                        {% endif %}
                    </td>
                    <td>{{ tarea.asignado_a.username }}</td>
                    <td>
                        {% if tarea.asignado_por %}
                        {{ tarea.asignado_por.username }}
                        {% else %}
                        <p>sin asignación</p>
                        {% endif %}
                    </td>
                    <td id="prioridad"
                        class="{% if tarea.prioridad == 'prioridad_alta' %}text-danger{% elif tarea.prioridad == 'prioridad_media' %}text-warning{% else %}text-secondary{% endif %}">
                        {{ tarea.get_prioridad_display }}
                    </td>
                    <td>
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-info">
                                <a href="{% url 'detalle-tarea' tarea.id %}"
                                    style="color: inherit; text-decoration: none; font-weight: bold;">Ver</a>
                            </button>
                            <button type="button" class="btn btn-info">
                                <a href="{% url 'crear-observacion' tarea.id %}"
                                    style="color: inherit; text-decoration: none; font-weight: bold;">Observación</a>
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}